.about_container {

    background-image: linear-gradient(#50656e, #282828);
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
 
}

.about_wrapper {

    margin-top: 2em;
    margin-bottom: 2em;
    width: 55%;

}

.about_title {

    font-size: 30px;
    color: white;
    margin-bottom: 0;

}

.about_name {

    font-size: 40px;
    color: white;
    margin-top: 15px;

}

.about_information {

    display: flex;
    justify-content: center;
    flex-direction: row;

}

.profile_image {

    border-radius: 50%;
    width: 275px;
    height: 275px;
    overflow: hidden;
    align-items: center;

}

.tagline {

    font-size: 25px;
    color: #e0c260;
    font-weight: 500;

}

.about_description {

    padding: 0 0 0 45px;

}

.about_description p {

    font-size: 17px;
    color: white;

}

.contact_link {

    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    color: white;
    display: inline-block;

}

.u_line::after {
        content: '';
        display: block;
        height: 3px;
        background-color: #e0c260;
}

//Media Queries 

@media only screen and (max-width: 1500px) {

    .about_wrapper {

        width: 70%;
    
    }

}

@media only screen and (max-width: 1150px) {

    .about_wrapper {

        width: 80%;
    
    }

}

@media only screen and (max-width: 850px) {

    .about_wrapper {

        width: 90%;
    
    }

    .about_title {

        text-align: center;

    }

    .about_name {

        text-align: center;

    }

    .profile_image {

        margin: 0 auto 0 auto;

    }

    .about_information {

        flex-direction: column;
        justify-content: center;

    }

}