.navbar {

    background-color: #282828;
    position: fixed;
    height: 75px;
    display: flex;
    width: 100%;
    justify-content: center;
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 500;
    border-bottom: solid 1px #e0c260;
    z-index: 100;
    transition: height 1s;
}

.nav_container {

    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo {

    height: 50px;
    width: 50px;
}

.navbar_items {

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: right;
    width: 60%;
    transition: height 0.8s, opacity 0.5s, align-items 0.5s;
    align-items: center;
}



.navbar_items a:hover {

    color: white;

}

.hamburger_menu {

    color: #9b9b9b;
    display: none;
    position: fixed;
    right: 20px;

}

.hamburger_menu:hover {

    color: white;

}

/* media queries */

@media only screen and (max-width: 1500px) {

    .nav_container {

        width: 80%;

    }

}

@media only screen and (max-width: 1150px) {

    .nav_container {

        width: 90%;

    } 

    .navbar_items {

        width: 60%;

    }

}

@media only screen and (max-width: 850px) {

    .hamburger_menu {

        display: block;
        position: fixed;
        top: 10px;

    }

    .logo {

        display: none;

    }

    .navbar_items {

        flex-direction: column;
        text-align: center;
        justify-content: space-around;
        margin: auto auto auto auto;
        opacity: 0;
        height: 0px;

    }
    

}

